@keyframes bounce-top {
    0% {
      transform: translateY(-150vh);
      animation-timing-function: ease-in;
      opacity: 1;
    }
    24% {
      opacity: 1;
    }
    40% {
      transform: translateY(-60vh);
      animation-timing-function: ease-in;
    }
    65% {
      transform: translateY(-44vh);
      animation-timing-function: ease-in;
    }
    82% {
      transform: translateY(-35vh);
      animation-timing-function: ease-in;
    }
    93% {
      transform: translateY(-33vh);
      animation-timing-function: ease-in;
    }
    25%,
    55%,
    75%,
    87% {
      transform: translateY(-30vh);
      animation-timing-function: ease-out;
    }
    100% {
      transform: translateY(-30vh);
      animation-timing-function: ease-out;
      opacity: 1;
    }
  } 
