@font-face {
    font-family: 'Ulalong';
    src: url('UlalongDEMO-Regular.otf');
}

@font-face {
    font-family: 'Schnyder L Demi';
    src: url('SchnyderL.otf');
}

@font-face {
    font-family: "CircularXXWebTrial-BookTrial";
    src: url("CircularXXWebTrial-BookTrial.woff") format("woff");
  }  

::selection {
    background: #ffb7b7;
}
a {
    color: inherit;
    text-decoration: none;
  }
  a:hover{
    color: #ffb7b7;
  }
body {
    margin: 0;
    font-family: 'Helvetica';
    color: whitesmoke;
    background: #493840;
    text-align: center;
    height: 100vh;
  display: grid;
  grid: "n n n n n" auto "a b c d e" 0.7fr "aside main main main empty" 5fr/1fr 1fr 1fr 1fr 1fr;
}
body > * {
  font-size: 2.3vh;
    padding: 2ex;
    margin: 0;
    border: thin solid #ece6e6;;
  }
.mainpage{
  grid-area:n;
  z-index: 6;
  margin: auto;
  padding: 2em;
  border: hidden;
}
#nametag {
z-index: -5; 
grid-area: n;
padding: 1em;
font-size: 2vh; 
z-index: 5;
  } 
  .a, .b, .c, .d, .e{
  padding-top: 2.5vw; 
    font-family: 'Schnyder L Demi';
    color:red;
    font-size: 1.6em
}
 
  .a {
    grid-area: a;
  }
  .b {
    grid-area: b;
  }
  .c {
    grid-area: c;
  }
  .d {
    margin: 0;
    grid-area: d;
  }
  .e {
    grid-area: e;
  }
  .aboutme{
      grid-area: main;
      padding-top:5vw;
      line-height: 1.6;
    text-align: left;
  }

 .links{
    line-height: 1.6;
    text-align: right;
     grid-area: aside;
     padding-top:5vw;
     padding-right: 3vw;
}

#stuff, #books, #texts {
    font-family: 'Schnyder L Demi';
    text-align: center;
    line-height: 2.2;
    font-size: 3em;
    font-weight: 50;
    color: whitesmoke;
    transition: color 2s;
    z-index: 80;
}

.italic {
    transition: color 1s, font-size 1s
}

.italic:hover {
    color: red;
    font-style: italic;
    font-size: 2em;
}

.bounce {
    /* position: relative; */
    margin: 0 auto;
    overflow: hidden;
    z-index: -1;
    grid-area: main;
    align-self: end;
    height: 35vw;
    width: 35vw;
    background-color: rgb(104, 55, 55);
    border: 0;
    border-radius: 50%;
    animation: bounce-top 2s linear both;
}
#selected {
    font-family: 'Schnyder L Demi';
    background-color: #B29393;
    font-size: 2em;
    padding-top: 3vh;
    color: red;
}
#menuToggle{
  display: none;
}
@keyframes bounce-top {
    0% {
        transform: translateY(-100vh);
        animation-timing-function: ease-in;
        opacity: 1;
    }
    24% {
        opacity: 1;
    }
    40% {
        transform: translateY(-50vh);
        animation-timing-function: ease-in;
    }
    65% {
        transform: translateY(-22vh);
        animation-timing-function: ease-in;
    }
    82% {
        transform: translateY(-16vh);
        animation-timing-function: ease-in;
    }
    93% {
        transform: translateY(-10vw);
        animation-timing-function: ease-in;
    }
    25%, 55%, 75%, 87% {
        transform: translateY(-1vh);
        animation-timing-function: ease-out;
    }
    100% {
        transform: translateY(0vh);
        animation-timing-function: ease-out;
        opacity: 1;
    }
}

@media only screen and (max-width: 414px) {
    body {
      grid: "n n n n n" auto 
            "s s s s s" 1fr
            "aside empty empty empty empty"
            "main main main main main" 5fr/0 0 0 1fr 0;
    }
    
    .a,
    .b,
    .c,
    .d,
    .e {
      grid-area: s;
      display: none;
    }
    #selected{
      display: grid;
      grid-area: s;
    }
    .links {
      border: none;
    }
  
#menuToggle
{
  grid-area: s;
  display: block;
  position: relative;
  z-index: 10; 
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  transition: color 0.3s ease;
}

#menuToggle input
{
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;  
  cursor: pointer;
  opacity: 0; 
   z-index: 20; 
  -webkit-touch-callout: none;
} 
#menu
{
  display: block;
  position: absolute;
  width: 30%;
  height: 812px;
  margin-left: -50px;
  padding: 50px;
  background: #B29393;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  font-family: 'Schnyder L Demi';
  color: red;
  padding: 10px 0;
  font-size: 2em;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}
}