@font-face {
    font-family: 'Ulalong';
    src: url('UlalongDEMO-Regular.otf');
}

@font-face {
    font-family: 'Schnyder L Demi';
    src: url('SchnyderL.otf');
}

@font-face {
    font-family: "CircularXXWebTrial-BookTrial";
    src: url("CircularXXWebTrial-BookTrial.woff") format("woff");
  }  

::selection {
    background: #ffb7b7;
}
a {
    color: inherit;
    text-decoration: none;
  }
body {
    margin: 0;
    font-family: 'Helvetica';
    color: whitesmoke;
    background: #493840;
    text-align: center;
    height: 100vh;
  display: grid;
  grid: "n n n n n" auto "a b c d e" 1fr "aside main main main empty" 5fr/1fr 1fr 1fr 1fr 1fr;
}
body > * {
    margin: 0;
    padding: 1ex;
    border: thin solid #ece6e6;;
  }

#nametag {
    grid-area: n;
  } 

  .a {
    grid-area: a;
    /* margin: 0;
    padding: 2vw 0px;
    border-right: 1px solid #ece6e6; */
  }
  .b {
    grid-area: b;
    /* margin: 0;
    padding: 2vw 0px;
    border-right: 1px solid #ece6e6; */
  }
  .c {
    grid-area: c;
    /* min-width: 340px; */
    /* font-family: 'Helvetica Neue' !important; */
    /* color: whitesmoke !important; */
    /* background: #B29393; */
    /* font-size: 1.25em !important; */
    /* margin: 0; */
    /* padding: 2vw 0px; */
  }
  .d {
    margin: 0;
    grid-area: d;
    /* padding: 2vw 0px;
    border-left: 1px solid #ece6e6; */
  }
  .e {
    /* margin: 0; */
    grid-area: e;
    /* padding: 2vw 0px;
    border-left: 1px solid #ece6e6; */
  }
  .aboutme{
      grid-area: main;
      padding-top:5vw;
      line-height: 1.6;
    text-align: left;
  }

 .links{
    line-height: 1.6;
    text-align: right;
     grid-area: aside;
     padding-top:5vw;
     padding-right: 3vw;
} 

#nametag {
    padding: 1em;
    font-size: 1.6em imp !important;
    z-index: 89;
}

#stuff, #books, #texts {
    font-family: 'Schnyder L Demi';
    font-size: 3em;
    font-weight: 50;
    color: red;
    transition: color 2s;
    z-index: 80;
}

.italic {
    transition: color 1s, font-size 1s
}

.italic:hover {
    color: whitesmoke;
    font-style: italic;
    font-size: 2em;
}

.bounce {
    position: relative;
    margin: auto;
    overflow: hidden;
    z-index: -1;
    grid-area: main;
    height: 35vw;
    width: 35vw;
    background-color: rgb(104, 55, 55);
    border-radius: 50%;
    animation: bounce-top 2s linear both;
}
.selected{
    font-family: 'Schnyder L Demi';
    background-color: #B29393;
    font-size: 2em;
    color: red;
}

@keyframes bounce-top {
    0% {
        transform: translateY(-150vh);
        animation-timing-function: ease-in;
        opacity: 1;
    }
    24% {
        opacity: 1;
    }
    40% {
        transform: translateY(-60vh);
        animation-timing-function: ease-in;
    }
    65% {
        transform: translateY(-44vh);
        animation-timing-function: ease-in;
    }
    82% {
        transform: translateY(-35vh);
        animation-timing-function: ease-in;
    }
    93% {
        transform: translateY(-33vh);
        animation-timing-function: ease-in;
    }
    25%, 55%, 75%, 87% {
        transform: translateY(-30vh);
        animation-timing-function: ease-out;
    }
    100% {
        transform: translateY(-30vh);
        animation-timing-function: ease-out;
        opacity: 1;
    }
}

/* @media only screen and (max-width: 812px) and (max-height:375px) {
    #main {
        grid-template-columns: 1fr 1fr 1fr;
    }
} */
@media only screen and (max-width: 414px) {
    body {
      grid: "n n n n n" auto "a b c d e" 1fr "aside main main main main" 5fr/0 0 0 1fr 0;
    }
    .a,
    .b,
    .c,
    .e {
      display: none;
    }
  }